<ion-content class="ion-no-border">
  <div class="container">
    <div class="header_modal">
      <ion-buttons slot="start">
        <ion-menu-button name="ellipsis-horizontal-outline"></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
        Tontine
      </ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="mail"></ion-icon>
          <div class="badge d-f-c">5</div>
        </ion-button>
      </ion-buttons>
    </div>

    <div class="bloc_list_card">

      <h1>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        investment
      </h1>
      <div class="list_card">
        <ion-card class="d-f-c">
          <div class="bloc_icon d-f-c"><ion-icon slot="start" name="person"></ion-icon></div>
          <h4>My Wallet</h4>
        </ion-card>
        <ion-card class="d-f-c">
          <div class="bloc_icon d-f-c"><ion-icon slot="start" name="person"></ion-icon></div>
          <h4>My Wallet</h4>
        </ion-card>
        <ion-card class="d-f-c">
          <div class="bloc_icon d-f-c"><ion-icon slot="start" name="person"></ion-icon></div>
          <h4>My Wallet</h4>
        </ion-card>
        <ion-card class="d-f-c">
          <div class="bloc_icon d-f-c"><ion-icon slot="start" name="person"></ion-icon></div>
          <h4>My Wallet</h4>
        </ion-card>
        <ion-card class="d-f-c">
          <div class="bloc_icon d-f-c"><ion-icon slot="start" name="person"></ion-icon></div>
          <h4>My Wallet</h4>
        </ion-card>
        <ion-card class="d-f-c">
          <div class="bloc_icon d-f-c"><ion-icon slot="start" name="person"></ion-icon></div>
          <h4>My Wallet</h4>
        </ion-card>
        <ion-card class="d-f-c">
          <div class="bloc_icon d-f-c"><ion-icon slot="start" name="person"></ion-icon></div>
          <h4>My Wallet</h4>
        </ion-card>
        <ion-card class="d-f-c">
          <div class="bloc_icon d-f-c"><ion-icon slot="start" name="person"></ion-icon></div>
          <h4>My Wallet</h4>
        </ion-card>
        <ion-card class="d-f-c">
          <div class="bloc_icon d-f-c"><ion-icon slot="start" name="person"></ion-icon></div>
          <h4>My Wallet</h4>
        </ion-card>
      </div>

    </div>



  </div>
</ion-content>